body {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


button {
    padding: 8px 23px;
    background: #2c3520;
    border-radius: 5px;
    border: 2px solid #2c3520;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px auto;
}

button:hover {
    border: 2px solid #2c3520;
    background: #fff;
    color: #2c3520;
}

.save {
    background-color: rgb(9, 87, 32);
    border: 2px solid rgb(9, 87, 32);
    margin-right: 10px;
}


.save:hover {
    border: 2px solid rgb(9, 87, 32);
    background: #fff;
    color: rgb(9, 87, 32);
}

.reset-button {
    display: flex;

}

#reset-btn {
    background-color: skyblue;
    border: 2px solid skyblue;
}

#reset-btn:hover {
    background-color: white;
    color: skyblue;
}